@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: rgb(63, 63, 63);
  --primary: rgb(86, 112, 51);
  --primary-hover: rgb(68, 89, 40);
  --secondary: #10b981;
  --secondary-hover: #059669;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --border: #e5e7eb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
